{{ define "main" }}

<h1>{{ .Title }}</h1>

{{.Content}}

<h2>Articles</h2>

<p>
{{ range where .Site.RegularPages.ByPublishDate.Reverse "Section" "article" }}
<a href="{{ .RelPermalink }}">{{ .Title }}</a> /
{{ end }}
</p>

<h2>Articles in Swedish</h2>

<p>
{{ range where .Site.RegularPages.ByPublishDate.Reverse "Section" "artikel" }}
<a href="{{ .RelPermalink }}">{{ .Title }}</a> /
{{ end }}
</p>

<h2>Recipes</h2>

<p>
{{ range where .Site.RegularPages.ByPublishDate.Reverse "Section" "recipe" }}
<a href="{{ .RelPermalink }}">{{ .Title }}</a> /
{{ end }}
</p>

<h2>Blog posts</h2>

{{ range where .Site.RegularPages.ByPublishDate.Reverse "Section" "blog" }}
<p><a href="{{ .RelPermalink }}">{{ .Title }}</a></p>
{{ end }}

{{ end }}
